body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.logotype-web, .logotype-studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }
.logotype-web{
    color: #2196F3;
}
    .logotype-studio{
        color: #000000;
}
.menu-nav, .contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
   }
.menu-nav-studio{
    color: #2196F3;
}
.menu-nav-portfolio-contacts {
    color: #212121;
}
.email-header, .tel-header {
    color:#757575;
}
.email-header:hover,
.email-header:focus,
.tel-header:hover
.tel-header:focus{
    color: #2196F3;
}
.top{
    background: #2F303A;
}
.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button-top{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;  
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;  
}
.features{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.feature-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}
.pictures-block{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.names-team{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.specialty{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.address {
    background: #2F303A;
 }
.address-footer, .email-footer, .tel-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-footer {
    color: #FFFFFF;
}
.email-footer, .tel-footer {
    color: rgba(255, 255, 255, 0.6);
}
.email-footer:hover,
.email-footer:focus,
.tel-footer:hover,
.tel-footer:focus{
    color:#2196F3;
}
.buttons{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
.button-1 {
    color: #FFFFFF;
    background-color:#2196F3 ;
    cursor:pointer;
}
 .button-1:hover,
 .button-1:focus,
 .button-1:active {
    color: #FFFFFF;
 }
.buttons-2-5 {
    color: #212121;
}
.image-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
}
.image-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}