body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    }
.link {
    text-decoration: none;
}
.logotype-web,
.logotype-studio-header,
.logotype-studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }
.logotype-web {
    color: #2196F3;
}
.logotype-studio-header {
        color: #000000;
}
.logotype-studio-footer {
    color: #FFFFFF;
}
.list {
    list-style: none;
}
.current,
.menu-nav,
.contacts-header {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
   }
.menu-nav {
    color: #212121;
}
.contacts-header {
    color:#757575;
}
.current {
    color: #2196F3;
}
.menu-nav:hover,
.menu-nav:focus,
.contacts-header:hover,
.contacts-header:focus {
    color: #2196F3;
}
.top{
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button-top {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;  
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;  
    cursor: pointer;
}
.features {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.feature-text {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}
.pictures-block {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.names-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.specialty {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.footer {
    background-color: #2F303A;
 }
.address-footer, 
.contacts-footer {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-footer {
    color: #FFFFFF;
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
}
.address-footer:hover,
.address-footer:focus,
.contacts-footer:hover,
.contacts-footer:focus {
    color:#2196F3;
}
.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
}
 .button:hover,
 .button:focus,
 .button:active {
    color: #FFFFFF;
    background-color: #2196F3;
 }
.image-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
}
.image-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}